# v0.1.0 envファイルのサンプルです。すべて必須です。
# `.env` という名前でプロジェクトルートに置いてください

# botトークンを指定してください
credential=

# アプリケーションIDを指定してください
clientID=

# 動作させる対象のサーバーをIDで指定してください
guildID=

# 実行モードを指定します
# メイン: 1
# スタンバイ: 2
# 開発環境: 0
mode=
