apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  annotations:
    operator.1password.io/auto-restart: "true"
  name: pjserver-secret
spec:
  itemPath: "vaults/ehfcjhym4ifnf5qu634gng55mi/items/plbhv3g7aj5a2xwpxa4ij2broe"
